{% extends 'base.html.twig' %}

{% block title %}Liste des associations{% endblock %}

{% block body %}
    <h1>Liste des associations</h1>

    <a href="{{ path('back_organisation_new') }}">Créer une association</a>

    {% for organisation in organisations %}
        {% embed 'composants/_card.html.twig' %}
            {% block title %}{{ organisation.name }}{% endblock %}
            {% block body %}
                {{ organisation.createdAt|date('d/m/Y') }} <br>

                <a href="{{ path('back_organisation_show', {'id': organisation.id}) }}">Voir</a>
                <a href="{{ path('back_organisation_update', {'slug': organisation.slug}) }}">Modifier</a>
                <a href="{{ path('back_organisation_delete', {'slug': organisation.slug, 'token': csrf_token('delete' ~ organisation.slug)}) }}" onclick="return confirm('Souhaitez-vraiment supprimer...');">Supprimer</a>

                <a href="{{ path('back_organisation_order', {'slug': organisation.slug}) }}">Up</a>
                <a href="{{ path('back_organisation_order', {'slug': organisation.slug, 'direction': 'down'}) }}">Down</a>
            {% endblock %}
        {% endembed %}

        <br><br>
    {% else %}
        <p>Aucune association n'a été trouvée.</p>
    {% endfor %}
{% endblock %}
