{% extends 'base.html.twig' %}

{% block title %}Association {{ organisation.name }}{% endblock %}

{% block body %}
    <h1>Association {{ organisation.name }}</h1>

    {{ organisation.name }} {{ organisation.createdAt|date('d/m/Y') }} <br>

    <img src="{{ vich_uploader_asset(organisation, 'logoFile') }}">
{% endblock %}
