{% extends 'base.html.twig' %}

{% block title %}Liste des associations{% endblock %}

{% block body %}
    <h1>Liste des associations</h1>

    <a href="{{ path('organisation_new') }}">Créer une association</a>

    <table>
        <tr>
            <th>Nom</th>
            <th>Date de création</th>
            <th></th>
        </tr>
        {% for organisation in organisations %}
            {% embed 'composants/_card.html.twig' %}
                {% block title %}{{ organisation.name }}{% endblock %}
                {% block body %}
                    {{ organisation.createdAt|date('d/m/Y') }} <br>

                    <a href="{{ path('organisation_show', {'id': organisation.id}) }}">Voir</a>
                    <a href="{{ path('organisation_update', {'id': organisation.id}) }}">Modifier</a>
                    <a href="{{ path('organisation_delete', {'id': organisation.id, 'token': csrf_token('delete' ~ organisation.id)}) }}" onclick="return confirm('Souhaitez-vraiment supprimer...');">Supprimer</a>
                {% endblock %}
            {% endembed %}
        {% else %}
            <tr>
                <td colspan="3">Aucune association enregistrée</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
