{% extends 'base.html.twig' %}

{% block title %}Proof index{% endblock %}

{% block body %}
    <h1>Proof index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proof in proofs %}
            <tr>
                <td>{{ proof.id }}</td>
                <td>{{ proof.name }}</td>
                <td>{{ proof.description }}</td>
                <td>
                    <a href="{{ path('back_app_proof_show', {'id': proof.id}) }}">show</a>
                    <a href="{{ path('back_app_proof_edit', {'id': proof.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_proof_new') }}">Create new</a>
{% endblock %}
